.Age {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Age h2 {
    margin-bottom: 1vh;
    margin: 2vh 0 0 0;

}

.Age span {
    font-weight: 500;
    font-size: 10.5vh;
    
}
