.Favorites {
  margin: 2vh 3vh;
}

.Favorites .favorites-scroll {
    overflow: scroll;
    /* height: 100%; */
    max-height: 18.5vh;
    /* background-color: red; */
}

.Favorites h2 {
    margin-bottom: 1.5vh;
}

.Favorites span {
    font-size: 1.8vh;
    margin-left: 1vh;
}

.Favorites .favorite-card {
    display: flex;
    align-items: center;
    margin-bottom: 1.5vh;
    cursor: pointer;
}

.Favorites img {
    width: 5vh;
    height: 5vh;
    object-fit: cover;
    border-radius: 8vh;
}