.ressource {
  width: 30rem;
  padding: 2rem 2rem;
}

.ressource span {
  position: absolute;
  right: 5vh;
  top: 5vh;
}

.ressource h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 2rem 0;
}

.ressource h3 {
  margin: 2rem 2rem 1rem 0;
  font-weight: bold;
  font-size: 1rem;
}

.ressource a {
  color: white;
  display: block;
  font-size: 0.8rem;
}

.ressource p {
  font-size: 0.8rem;
  margin: 0;
}

.ressourceStats {
  margin-top: 1.5rem;
  text-align: center;
  display: flex;
  gap: 3rem;
  flex-direction: row;
  justify-content: center;
}

.ressourceStats .leftStat,
.ressourceStats .rightStat {
  width: 50%;
}

.ressourceStats .statTop {
  font-weight: bold;
  font-size: 50px !important;
  margin-top: 1rem;
}

.ressourceStats .statBottom {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: -1rem;
}

.ressourceStats .statLegend {
  margin-top: 1rem;
}
