.Partners {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  overflow: scroll;
}

.Partners #title {
  margin: 5.6vh 4vh 2vh;
  /* width: 1100px; */
  width: 120vh;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.Partners .add {
  font-weight: 800;
  padding: 0.2vh 0.5vh;
  margin-right: 0.3rem;
  background: rgba(150, 150, 150, 0.5);
  border-radius: 2rem;
}

.Partners #title h3:hover .add {
  background: rgba(150, 150, 150, 0.8);
}

.Partners .search {
    margin: 0 4vh 3vh;
    width: 120vh;
}

.Partners h1 {
  font-size: 2.6vh;
}

.Partners input {
    width: 25vh;
    height: 4vh;
    font-size: 1.9vh;
    background-color: #151a1f;
    padding-left: 1vh;
    border: 1px solid #4c4c4c;
    color: #bbbbbb;
    border-radius: 1vh;
}

.Partners input:focus{
    outline: 1px solid white;
}

.Partners .partner-card {
    margin-bottom: 3vh;
    background: rgba(150, 150, 150, 0.03);
    border-radius: 20px;

    display: flex;
    width: 120vh;
    height: 20vh;
    /* justify-content: space-around; */
}

.Partners .profile-pic {
    width: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.Partners .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 16vh;
    margin-right: 2vh;
}

.Partners .info h2 {
    margin-bottom: 0.5vh;
}

.Partners .info h3 {
    font-size: 1.6vh;
    text-transform: capitalize;
}

.Partners #more {
    text-align: center;
    width: 10vh;
    border-radius: 0.3rem;
    border: 1.5px solid white;
    margin-top: 1vh;
    padding: 0.3vh 0.8vh;
    font-size: 0.7rem;
    font-weight: 500;
}

.Partners #more:hover {
    background: rgba(150, 150, 150, 0.4);
    cursor: pointer;
}

.Partners #partner-image {
    width: 70%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10vh;
}

.Partners .safe {
    width: 16vh;
}

.Partners .orgasms {
    width: 16vh;

}

.Partners .rating {
    width: 16vh;

}
.Partners .ratings {
    width: 36vh;

}

.Partners .favorite{
    position: absolute;
    width: 4vh;
    height: 4vh;
    bottom: 3.9vh;
    left: 2.4vh;
    cursor: pointer;
}

.Partners h2 {
  /* font-size: 1.1rem; */
  font-size: 2vh;
}

.Partners h3 {
  font-size: 1.4vh;
}

.Partners h4 {
  font-size: 1.2vh;
}

.Partners p {
  font-size: 1.4vh;
}

