.Achievements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 200px;
  overflow: scroll;
}

.Achievements img {
  width: 25%;
  aspect-ratio: 1/1;
  margin: 0 0.3rem 0.6rem 0.3rem;
  padding: 0.65rem;
}

/* .Achievements img:hover {
    transform: rotateY(180deg);
} */
