.Achievements {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  max-height: 115px;
  overflow: scroll;
  width: 92%;
  align-self: center;
}

.Achievements img {
  width: 50%;
  align-self: center;
  justify-self: center;
}

.Achievements #add-data {
  width: 100%;
}

.Achievements #add-data h4 {
  text-align: center;
}

/* .Achievements img:hover {
    transform: rotateY(180deg);
} */
.AchievementInfo {
  height: 40vh;
  width: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AchievementInfo .big-achievement {
  width: 14vh;
  height: 14vh;
  background: linear-gradient(#151a1f, #151a1f) padding-box, linear-gradient(to right, var(--customblue), var(--custompink)) border-box;
  border-radius: 5rem;
  border: 3px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
}

.AchievementInfo img {
}
.AchievementInfo h1 {
  margin-bottom: 0.8vh;
}

.AchievementInfo span {
  position: absolute;
  right: 5vh;
  top: 5vh;
}

@media (max-height: 700px) {
  .Achievements img {
    padding: 0.4rem;
  }
}
