@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@font-face {
	font-family: Dolce Vita;
	/* src: url(./styles/fonts/Dolce\ Vita.ttf); */
  }


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

html {
	font-family: "Manrope", sans-serif;
	background-color: #11161B;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
}
