.FormLogin h2 {
  margin-bottom: 0.2rem;
}

.FormLogin{
  width: 22rem;
  height: 23.5rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}



.FormLogin .sameLine {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.FormLogin p {
  margin-bottom: 2rem !important;
}

.FormLogin u {
  color: var(--custompink);
}

.ProfileH2{
  margin-left: 2rem
}

.Profilepic {
  width: 8rem;
  margin-left:7rem;
  background: linear-gradient(#151a1f, #151a1f) padding-box, linear-gradient(to right, var(--customblue), var(--custompink)) border-box;
  border: 2px solid transparent;
  aspect-ratio: 1/1;
  border-radius: 100%;
  
}
.FormLogin .left,
.FormLogin .right {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.FormLogin label {
  display: block;
  margin: 1rem 0 0.2rem 0;
}

.FormLogin input,
.FormLogin #name {
  font-size: 1rem;
  text-align: left;
  padding: 10px;
  background-color: rgba(150, 150, 150, 0.03);
  border: solid #696969 1px;
  border-radius: 10px;
  width: 100%;
  height: 2.5rem;
  font-size: 1.9vh;
  padding-left: 1vh;
  color: #bbbbbb;
}

.FormLogin .svgButton {
  padding: 0.7rem;
  border: none;
  background-color: transparent;
  margin: 0 0 2rem auto;
  display: flex;
  cursor: pointer;
}

.FormLogin span {
  display: flex;
  justify-content: right;
}

.FormLogin .svgButton p {
  text-align: right !important;
}

.FormLogin .arrowButton {
  border-radius: 100%;
  aspect-ratio: 1;
  display: flex;
  margin: 1.5rem 0 0 auto;
  background-color: white !important;
}

.delete{
  color: var(--custompink)
}

